name: Test mock-production script runs with synthetic halos

on:
  workflow_dispatch: null
  schedule:
    # Runs "every Monday & Thursday at 3:05am Central"
    - cron: '5 8 * * 1,4'
  push:
    branches:
      - main
  pull_request: null

jobs:
  mock-generation:
    name: python make_ou26_mock.py -synthetic_cores 1
    runs-on: "ubuntu-latest"

    steps:
      - name: free disk space
        uses: endersonmenezes/free-disk-space@v3
        with:
          remove_android: true
          remove_dotnet: true
          remove_haskell: true
          rm_cmd: "rmz"

      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: 3.11
          channels: conda-forge
          channel-priority: strict
          show-channel-urls: true
          miniforge-version: latest

      - name: configure conda and install code
        shell: bash -l {0}
        env:
          GITHUB_TOKEN: ${{ secrets.CPAC_PRIVATE_REPO_TOKEN }}
          GITHUB_USER: ${{ secrets.GH_USR_TESTING_TOKEN }}

        run: |
          conda config --set always_yes yes
          conda install --quiet \
            --file=requirements.txt
          conda install --quiet \
            pip \
            setuptools \
            "setuptools_scm>=7,<8" \
            matplotlib \
            astropy \
            h5py \
            mpi4py \
            mpich
          conda uninstall diffmah --force
          conda uninstall diffstar --force
          conda uninstall dsps --force
          pip install --no-deps --no-build-isolation git+https://github.com/ArgonneCPAC/diffmah.git
          pip install --no-deps --no-build-isolation git+https://github.com/ArgonneCPAC/diffstar.git
          pip install --no-deps --no-build-isolation git+https://github.com/ArgonneCPAC/dsps.git
          python -m pip install --no-build-isolation --no-deps -e .

      - name: download dsps data
        shell: bash -l {0}
        run: |
          # Create data directory
          mkdir -p dsps_drn/filters

          # Download data
          cd dsps_drn
          wget https://portal.nersc.gov/project/hacc/aphearin/DSPS_data/ssp_data_fsps_v3.2_emlines.hdf5
          cd filters
          wget https://portal.nersc.gov/project/hacc/aphearin/DSPS_data/filters/lsst_u_transmission.h5
          wget https://portal.nersc.gov/project/hacc/aphearin/DSPS_data/filters/lsst_g_transmission.h5
          wget https://portal.nersc.gov/project/hacc/aphearin/DSPS_data/filters/lsst_r_transmission.h5
          wget https://portal.nersc.gov/project/hacc/aphearin/DSPS_data/filters/lsst_i_transmission.h5
          wget https://portal.nersc.gov/project/hacc/aphearin/DSPS_data/filters/lsst_z_transmission.h5
          wget https://portal.nersc.gov/project/hacc/aphearin/DSPS_data/filters/lsst_y_transmission.h5
          cd ..
          cd ..

          # Set environment variable
          export DSPS_DRN="${GITHUB_WORKSPACE}/dsps_drn"
          echo "DSPS_DRN=${DSPS_DRN}" >> $GITHUB_ENV

      - name: create mock with sfh_model option
        shell: bash -l {0}
        run: |
          # Create output directory
          mkdir -p ci_test_output

          # Run mock production script
          mpiexec -n 1 python scripts/LJ_LC_MOCKS/make_ou26_mock_batch.py \
            poboy \
            0.01 \
            0.2 \
            0 \
            1 \
            ci_test_output \
            ci_test_mock \
            -sfh_model smdpl_dr1 \
            -synthetic_cores 1 \
            -lgmp_min 12.0 \
            -lgmp_max 13.0 \
            --lsst_only

      - name: verify script completed
        shell: bash -l {0}
        run: |
          echo "sfh_model mock generated successfully"

      - name: validate mock
        shell: bash -l {0}
        run: |
          python scripts/LJ_LC_MOCKS/inspect_lc_mock.py ci_test_output/synthetic_cores/smdpl_dr1

      - name: remove sfh_model mock
        shell: bash -l {0}
        run: |
          rm -rf ci_test_output

      - name: create mock with cosmos_fit option
        shell: bash -l {0}
        run: |
          # Create output directory
          mkdir -p ci_test_output

          # Run mock production script
          mpiexec -n 1 python scripts/LJ_LC_MOCKS/make_ou26_mock_batch.py \
            poboy \
            0.01 \
            0.2 \
            0 \
            1 \
            ci_test_output \
            ci_test_mock \
            -cosmos_fit cosmos_260120_UM \
            -synthetic_cores 1 \
            -lgmp_min 12.0 \
            -lgmp_max 13.0 \
            --lsst_only

      - name: verify script completed
        shell: bash -l {0}
        run: |
          echo "sfh_model mock generated successfully"

      - name: validate mock
        shell: bash -l {0}
        run: |
          python scripts/LJ_LC_MOCKS/inspect_lc_mock.py ci_test_output/synthetic_cores/cosmos_260120_UM

      - name: remove cosmos_fit mock
        shell: bash -l {0}
        run: |
          rm -rf ci_test_output

      - name: create mock with no_dbk option
        shell: bash -l {0}
        run: |
          # Create output directory
          mkdir -p ci_test_output

          # Run mock production script
          mpiexec -n 1 python scripts/LJ_LC_MOCKS/make_ou26_mock_batch.py \
            poboy \
            0.01 \
            0.2 \
            0 \
            1 \
            ci_test_output \
            ci_test_mock \
            -cosmos_fit cosmos_260120_UM \
            -synthetic_cores 1 \
            -lgmp_min 12.0 \
            -lgmp_max 13.0 \
            --lsst_only --no_dbk

      - name: verify script completed
        shell: bash -l {0}
        run: |
          echo "sfh_model mock generated successfully"

      - name: validate mock
        shell: bash -l {0}
        run: |
          python scripts/LJ_LC_MOCKS/inspect_lc_mock.py ci_test_output/synthetic_cores/cosmos_260120_UM --no_dbk

      - name: remove cosmos_fit mock
        shell: bash -l {0}
        run: |
          rm -rf ci_test_output

